#method{
    display: flex;
  justify-content: space-between;
}
#method>div{
    display: flex;  
    font-size: 20px;
    justify-content: space-between;

}
#method img{
    width: 40px;
    height: 30px;
    /* margin-top: 5px; */
}
#method button{
    width: 100px;
    height: 20px;
}